<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"
            ><img
              src="../assets/img/1200px-Star_of_life.svg.png"
              alt=""
              style="width: 55px; height: auto;"
            />Медцентр</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home </a>
              </li>
              <span class="sr-only">(current)</span>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  >Disabled</a
                >
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
              </button>
            </form> -->

            <li class="nav-item dropdown">
              <div class="account">
                <span
                  class="nav-link"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  A
                </span>
                <span
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></span>
                <div
                  class="dropdown-menu come"
                  aria-labelledby="navbarDropdown"
                >
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
          </div>
        </nav>
      </div>
    </header>
    <div class="inner">
      <div
        class="inner-heading"
        style="
          background: url(../../assets/img/about.jpg) no-repeat;
          background-size: cover;
          background-position: center;
        "
      >
        <h1 class="inner-title">
          Medesk — облачная медицинская информационная система
        </h1>
      </div>
      <div class="container">
        <div class="inner-content">
          <h4>
            Мы соединили технологии и медицину, чтобы сделать управление частной
            клиникой удобным и эффективным
          </h4>
          <div class="">
            <span
              >Medesk — это больше, чем система для управления частными
              клиниками. Мы создали платформу, которая позволяет интегрировать
              медцентры c партнерами, а также с устройствами и сервисами по
              мониторингу здоровья. Благодаря этому врачи, клиники, лаборатории
              получают возможность лучше и эффективнее взаимодействовать друг с
              другом и зарабатывать на предоставлении качественных услуг
              пациентам и корпоративным клиентам. Более 4000 врачей,
              администраторов и экономистов по всей России используют
              преимущества Medesk и обслуживают более 2 000 000 пациентов и
              сотрудников.</span
            >
            <br />
            <br />
            <span
              >Преимущество Medesk в том, что вся информация обрабатывается не
              на компьютерах клиники, а в облачных серверах через интернет.
              Использование этой технологии обеспечивает высокую скорость при
              обработке информации и позволяет сэкономить на закупке
              собственного оборудования. При этом мы гарантируем надежное
              хранение персональных данных пациентов.</span
            >
            <br />
            <br />
            <span
              >Medesk — молодая, энергичная, современная и открытая компания. Мы
              делаем управление частной клиникой простым и прозрачным, ускоряя
              ее рост и обеспечивая комфортную рабочую среду для всех
              сотрудников. Мы помогаем развитию частного и цифрового
              здравоохранения России. В нашей команде работают люди, увлеченные
              медициной, технологиями и здоровым образом жизни. Мы растем и
              развиваемся, хотите присоединиться? Напишите нам:
              <a href="mailto:adilettulebaev@gmail.com"
                >adilettulebaev@gmail.com</a
              ></span
            >
            <br />
            <br />
            <span
              >Контакты для связи:
              <a href="mailto:adilettulebaev@gmail.com"
                >adilettulebaev@gmail.com</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="footer-top">
          <a href="#" class="nav-link">Пользовательское соглашение</a>
          <a href="#" class="nav-link">О проекте</a>
          <a href="#" class="nav-link">Команда</a>
          <a href="#" class="nav-link">Контакты</a>
          <a href="#" class="nav-link">
            <img src="assets/img/facebook.svg" alt="" />
          </a>
        </nav>
        <hr style="background: #f8f9fa;" />
        <div class="footer-bottom">
          <span>Copyright © 2020 Медсентр. Все права защищены</span>
          <a href="#" class="nav-link">Выходные данные</a>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
