<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/coremain.min.css" />
    <link rel="stylesheet" href="../assets/css/bootmain.min.css" />
    <link rel="stylesheet" href="../assets/css/daymain.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="../template/kliniki.html"
            ><img
              src="../assets/img/1200px-Star_of_life.svg.png"
              alt=""
              style="width: 55px; height: auto;"
            />Медцентр</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#"> </a>
              </li>
              <span class="sr-only">(current)</span>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                ></a>
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form> -->

            <li class="nav-item dropdown">
              <div class="account">
                <span
                  class="nav-link"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  A
                </span>
                <span
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></span>
                <div
                  class="dropdown-menu come"
                  aria-labelledby="navbarDropdown"
                >
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
          </div>
        </nav>
      </div>
    </header>
    <div class="container site">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4">
          <div class="left_nav">
            <div class="nav_items">
              <img
                src="../assets/icon/Group 8 (1).png"
                class="nav_icone ler"
                alt=""
              />
              <a href="kliniki.html" class="nav_items_link">Клиники</a>
            </div>
            <div class="nav_items">
              <img src="../assets/icon/Group 11.png" class="nav_icone" alt="" />
              <a href="appointmen.html" class="nav_items_link"
                >Записаться к врачу</a
              >
            </div>
            <div class="nav_items">
              <img src="../assets/icon/Group 10.png" class="nav_icone" alt="" />
              <a href="call.html" class="nav_items_link">Вызов на дом</a>
            </div>
            <div class="nav_items">
              <img
                src="../assets/icon/Group 14.png"
                class="nav_icone ler"
                alt=""
              />
              <a href="./news.html" class="nav_items_link">Новости</a>
            </div>
            <div class="nav_items">
              <img
                src="../assets/img/WhatsApp Image 2020-05-28 at 22.41.31 (2).jpeg"
                class="nav_icone ler"
                alt=""
              />
              <a href="chat.html" class="nav_items_link">Чат</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-8 two">
          <div class="containerred">
            <div class="row">
              <div class="appointment">
                <h2>Онлайн Вызов</h2>
                <form action="../callmail.php" method="POST" class="row">
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Ваше Имя</label
                    >
                    <input
                      placeholder="Имя"
                      type="text"
                      name="name"
                      id="first_name"
                      class="form-control"
                    />
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Ваша Фамилия</label
                    >
                    <input
                      id="last_name"
                      type="text"
                      class="form-control"
                      placeholder="Фамилия"
                      type="text"
                      name="lastname"
                    />
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Выбрать Страну</label
                    >
                    <select id="inputState" class="form-control" name="country">
                      <option selected disabled hidden>Ваша Страна</option>
                      <option value="1">Кыргызстан</option>
                      <option value="2">Казахстан</option>
                      <option value="3">Узбекистан</option>
                      <option value="4">Таджикистан</option>
                    </select>
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Выбрать Город</label
                    >
                    <select id="inputState" class="form-control" name="city">
                      <option selected disabled hidden>Ваш Город</option>
                      <option value="1">Бишкек</option>
                      <option value="2">Ош</option>
                      <option value="3">Талас</option>
                      <option value="4">Токмок</option>
                    </select>
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Выбрать клинику</label
                    >
                    <select id="inputState" class="form-control" name="clinic">
                      <option selected disabled hidden>Клиника</option>
                      <option value="1">Медицинский центр "Санлайт" </option>
                      <option value="2">Медицинский центр "Семья"</option>
                      <option value="3">Медицинский центр Green Clinic</option>
                      <option value="4">Медицинский центр Prime Clinic</option>
                    </select>
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Выбрать врача</label
                    >
                    <select
                      id="inputState"
                      class="form-control"
                      name="specialty"
                    >
                      <option selected disabled hidden>Специальность</option>
                      <option value="1">Терапевт</option>
                      <option value="2">Педиатр</option>
                      <option value="3">Кардиолог</option>
                      <option value="4">Стоматолог</option>
                    </select>
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Дата</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      name="date"
                      placeholder="Укажите дату
                    "
                    />
                  </div>
                  <div class="input-field col-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Время посешения</label
                    >
                    <input
                      type="time"
                      class="form-control"
                      name="time"
                      placeholder="Укажите время"
                    />
                  </div>
                  <div class="input-field col-12">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"
                      >Ваш Адрес</label
                    >
                    <input type="text" class="form-control" name="adress" />
                  </div>
                  <div class="col-12 form-group">
                    <textarea
                      name="message"
                      class="form-control"
                      rows="3"
                      placeholder="Сообщение"
                      required
                    ></textarea>
                  </div>
                  <div class="input-field col-12">
                    <button
                      class="primary btn-primary auth"
                      type="submit"
                      name="submit"
                      id="btn"
                    >
                      Вызвать
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12">
          <div id="demoCalendar"></div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="row footer-top">
          <a href="#" class="nav-link">Пользовательское соглашение</a>
          <a href="about.html" class="nav-link">О проекте</a>
          <a href="#" class="nav-link">Команда</a>
          <a href="contacty.html" class="nav-link">Контакты</a>
          <a href="#" class="nav-link">
            <img src="../assets/img/facebook.svg" alt="" />
          </a>
        </nav>
        <hr style="background: #f8f9fa;" />
        <div class="footer-bottom">
          <span>Copyright © 2020 Медсентр. Все права защищены</span>
          <a href="#" class="nav-link">Выходные данные</a>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/coremain.min.js"></script>
    <script src="../assets/js/bootmain.min.js"></script>
    <script src="../assets/js/daymain.min.js"></script>
    <script src="../assets/js/index.js"></script>
  </body>
</html>
