<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../assets/css/coremain.min.css" />
    <link rel="stylesheet" href="../assets/css/bootmain.min.css" />
    <link rel="stylesheet" href="../assets/css/daymain.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="../template/kliniki.html"
            ><img
              src="../assets/img/1200px-Star_of_life.svg.png"
              alt=""
              style="width: 55px; height: auto;"
            />Медцентр</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#"> </a>
              </li>
              <span class="sr-only">(current)</span>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                ></a>
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form> -->

            <li class="nav-item dropdown">
              <div class="account">
                <span
                  class="nav-link"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  A
                </span>
                <span
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></span>
                <div
                  class="dropdown-menu come"
                  aria-labelledby="navbarDropdown"
                >
                  <div class="user_profile" href="#">
                    <div class="user_img">
                      <img
                        src="../assets/img/raiskie_111___B1zUdkVBAeZ___.jpg"
                        alt=""
                        class="users_img"
                      />
                    </div>
                    <h6>Жапаров Руслан</h6>
                  </div>
                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-user ico" aria-hidden="true"></i>Профиль</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-pencil-square-o ico" aria-hidden="true"></i
                    >Редактировать профиль</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="fa fa-cog ico" aria-hidden="true"></i>Настройки
                    профиля</a
                  >
                  <a class="dropdown-item" href="../index.html"
                    ><i class="fa fa-sign-out ico" aria-hidden="true"></i>Выйти
                    с профиля</a
                  >
                </div>
              </div>
            </li>
          </div>
        </nav>
      </div>
    </header>
    <div class="container site">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4">
          <div class="left_nav">
            <div class="padd">
              <div class="nav_items">
                <img
                  src="../assets/icon/Group 8 (1).png"
                  class="nav_icone ler"
                  alt=""
                />
                <a href="kliniki.html" class="nav_items_link">Клиники</a>
              </div>
              <div class="nav_items">
                <img
                  src="../assets/icon/Group 11.png"
                  class="nav_icone"
                  alt=""
                />
                <a href="appointmen.html" class="nav_items_link"
                  >Записаться к врачу</a
                >
              </div>
              <div class="nav_items">
                <img
                  src="../assets/icon/Group 10.png"
                  class="nav_icone"
                  alt=""
                />
                <a href="call.html" class="nav_items_link">Вызов на дом</a>
              </div>
              <div class="nav_items">
                <img
                  src="../assets/icon/Group 14.png"
                  class="nav_icone ler"
                  alt=""
                />
                <a href="news.html" class="nav_items_link">Новости</a>
              </div>
              <div class="nav_items">
                <img
                  src="../assets/img/WhatsApp Image 2020-05-28 at 22.41.31 (2).jpeg"
                  class="nav_icone ler"
                  alt=""
                />
                <a href="chat.html" class="nav_items_link">Чат</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-8 two">
          <div class="containerred">
            <div class="chat">
              <div class="chat_header">
                <div class="chat_user">
                  <img src="../assets/img/raiskie_111___B15uRvFBs2K___.jpg" class="chat__img" alt="">
                </div>
                <div class="chat_user_name">
                  <h6>Асымбеков Марат</h6>
                  <small>
                    был Онлайын 5 мин назад
                  </small>
                </div>
                <nav class="chat_list">
                  <a href="" class="chat_header_link"><i class="fa fa-phone" aria-hidden="true"></i></a>
                  <a href="" class="chat_header_link"><i class="fa fa-archive" aria-hidden="true"></i></a>
                  <a href="" class="chat_header_link"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </nav>
              </div>
              <section class="chat_body">
                <div class="message message--user-1">
                  
                  <div class="message__author-pic">
                    <img
                      src="../assets/img/raiskie_111___B15uRvFBs2K___.jpg"
                      class="chat__img"
                    />
                  </div>
                  <div class="message__text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Duis at purus nibh. Cras metus nulla, vestibulum in auctor
                      ac, fermentum vitae tellus.
                    </p>
                  </div>
                </div>
                <div class="message message--user-2">
                 
                  <div class="message__author-pic">
                    <img
                      src="../assets/img/raiskie_111___B1zUdkVBAeZ___.jpg"
                      class="chat__img"
                    />
                  </div>
                  <div class="message__text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Duis at purus nibh. Cras metus nulla, vestibulum in auctor
                      ac, fermentum vitae tellus.
                    </p>
                  </div>
                </div>
                <div class="message message--user-2">
                
                  <div class="message__author-pic">
                    <img
                      src="../assets/img/raiskie_111___B1zUdkVBAeZ___.jpg"
                      class="chat__img"
                    />
                  </div>
                  <div class="message__text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Duis at purus nibh. Cras metus nulla, vestibulum in auctor
                      ac, fermentum vitae tellus.
                    </p>
                  </div>
                </div>
                <div class="message message--user-1">
                 
                  <div class="message__author-pic">
                    <img
                      src="../assets/img/raiskie_111___B15uRvFBs2K___.jpg"
                      class="chat__img"
                    />
                  <div class="message__text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Duis at purus nibh. Cras metus nulla, vestibulum. 
                    </p>
                  </div>
                </div>
              </section>
              <div class=" chat_submit">
                <nav class="submit_list">
                  <a href="" class="chat_link"><i class="fa fa-camera" aria-hidden="true"></i></a>
                  <a href="" class="chat_link"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                  <a href="" class="chat_link"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
                </nav>
                <input type="text" class="form-control form-chat" placeholder="Отправьте сообшение......">
                <a href="">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12">
          <div id="demoCalendar"></div>
         
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="row footer-top">
          <a href="agreement.html" class="nav-link">Пользовательское соглашение</a>
          <a href="about.html" class="nav-link">О проекте</a>
          <a href="#" class="nav-link">Команда</a>
          <a href="contacty.html" class="nav-link">Контакты</a>
          <a href="https://www.facebook.com/" class="nav-link">
            <img src="../assets/img/facebook.svg" alt="" />
          </a>
        </nav>
        <hr style="background: #f8f9fa;" />
        <div class="footer-bottom">
          <span>Copyright © 2020 Медсентр. Все права защищены</span>
          <a href="#" class="nav-link">Выходные данные</a>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/coremain.min.js"></script>
    <script src="../assets/js/bootmain.min.js"></script>
    <script src="../assets/js/daymain.min.js"></script>
    <script src="../assets/js/index.js"></script>
  </body>
</html>
