<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/coremain.min.css" />
    <link rel="stylesheet" href="../assets/css/bootmain.min.css" />
    <link rel="stylesheet" href="../assets/css/daymain.min.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="../template/kliniki.html"
            ><img
              src="../assets/img/1200px-Star_of_life.svg.png"
              alt=""
              style="width: 55px; height: auto;"
            />Медцентр</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#"> </a>
              </li>
              <span class="sr-only">(current)</span>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                ></a>
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form> -->

            <li class="nav-item dropdown">
              <div class="account">
                <span
                  class="nav-link"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  A
                </span>
                <span
                  class="dropdown-toggle"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ></span>
                <div
                  class="dropdown-menu come"
                  aria-labelledby="navbarDropdown"
                >
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
          </div>
        </nav>
      </div>
    </header>
    <div class="inner">
      <div class="container">
        <div class="inner-content">
          <h2 style="margin-bottom: 3rem;">
            Контакты
          </h2>
          <div class="row">
            <div class="col-12">
              <h3>Кыргызстан</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-headset-50.png" alt="" /> Для
                    связи
                  </h3>
                  <p>
                    <a href="tel:+996709618900">Телефон : +996 709 61 89 00</a>
                  </p>
                  <p>
                    <a href="mailto:adilettulebaev@gmail.com"
                      >Почта : medcenterkg@gmail.com</a
                    >
                  </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-send-email-60.png" alt="" />
                    Адрес
                  </h3>
                  <p>
                    г. Бишкек, ул. Турусбекова 109\1 бизнес центр Максимум Плюс
                  </p>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-12">
              <h3>Казахстан</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-headset-50.png" alt="" /> Для
                    связи
                  </h3>
                  <p>
                    <a href="tel:+996709618900">Телефон : +7 702 156 7140</a>
                  </p>
                  <p>
                    <a href="mailto:adilettulebaev@gmail.com"
                      >Почта : medcenterkz@gmail.com</a
                    >
                  </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-send-email-60.png" alt="" />
                    Адрес
                  </h3>
                  <p>
                    г. Алмата, ул. Абылай хана
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <h3>Узбекистан</h3>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-headset-50.png" alt="" /> Для
                    связи
                  </h3>
                  <p>
                    <a href="tel:+996709618900">Телефон : +998 71 294 62 85</a>
                  </p>
                  <p>
                    <a href="mailto:adilettulebaev@gmail.com"
                      >Почта : medcenteruzb@gmail.com</a
                    >
                  </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-send-email-60.png" alt="" />
                    Адрес
                  </h3>
                  <p>
                      г. Ташкент  ул. Узбекистан, 4, Ташкент, Узбекистан
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <h3>Таджикистан</h3>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-headset-50.png" alt="" /> Для
                    связи
                  </h3>
                  <p>
                    <a href="tel:+996709618900">Телефон : +992 372 36 22 06</a>
                  </p>
                  <p>
                    <a href="mailto:adilettulebaev@gmail.com"
                      >Почта : medcentertjk@gmail.com</a
                    >
                  </p>
                </div>
                <div class="col-12 col-sm-6">
                  <h3>
                    <img src="../assets/icon/icons8-send-email-60.png" alt="" />
                    Адрес
                  </h3>
                  <p>
                    
                      г.Душанбе  просп. Исмоила Сомони
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="footer-top">
          <a href="agreement.html" class="nav-link">Пользовательское соглашение</a>
          <a href="about.html" class="nav-link">О проекте</a>
          <a href="#" class="nav-link">Команда</a>
          <a href="contacty.html" class="nav-link">Контакты</a>
          <a href="#" class="nav-link">
            <img src="../assets/img/facebook.svg" alt="" />
          </a>
        </nav>
        <hr style="background: #f8f9fa;" />
        <div class="footer-bottom">
          <span>Copyright © 2020 Медсентр. Все права защищены</span>
          <a href="#" class="nav-link">Выходные данные</a>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/js/coremain.min.js"></script>
    <script src="../assets/js/bootmain.min.js"></script>
    <script src="../assets/js/daymain.min.js"></script>
    <script src="../assets/js/index.js"></script>
  </body>
</html>
