html body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url("/assets/img/bg.png") no-repeat;
  background-size: cover;
  color: #29527b;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.nav_items_link {
  color: #29527b;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.2s linear;
}
.nav_items_link:hover {
  color: #6ba2d9;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav_items {
  padding: 15px 0;
}
.padd {
  padding-top: 25px;
}
.nav_icone {
  padding-bottom: 10px;
}
.ler {
  padding-bottom: 5px;
}

ul {
  list-style: none;
}
li {
  list-style-type: none;
}
/* Header */
.header {
  background: #ffffff;
}
.nav-link:active {
  font-weight: 700;
}
.nav-link:focus {
  font-weight: 700;
}
.img-logo {
  width: 100%;
}
.account {
  display: flex;
  align-items: center;
}
.user_profile{
  text-align: center;
}
.dropdown-item{
  align-items: center;
    font-size: 14px;
    color: #494c57;
}
.ico{
  margin-right: 10px;
  font-size: 18px;
}

.user_img{
  margin-bottom: 15px;
}
.users_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
span.nav-link {
  background: #ffb116;
  border-radius: 50%;
  margin-right: 10px;
}
/* Content */
.content {
  background: #bcd3ec;
}
.respublic__blog {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}
.content__text__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #295079;
  padding-left: 20px;
  padding-top: 10px;
}
.content__text__poragrohp {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #295079;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}
.content__button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-top: 3px;
}
.content__button {
  background: #295079;
  border-radius: 4px;
  width: 70px;
  height: 20px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}
.link__clinik:hover {
  text-decoration: none;
}
.hx {
  font-family: "Montserrat";
  font-weight: 600;
  color: #295079;
}
.come {
  position: absolute;
  top: 120%;
  left: -70px;
}
.fc-today-button {
  display: none;
}

/* Footer */
.footer {
  background: #22426b;
  padding: 1.625rem 0;
}

.footer-top {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.footer-bottom > a.nav-link {
  color: #ffffff;
}
nav > a.nav-link {
  color: #ffffff;
}
/* Footer  block */
.inner {
  color: #2a527a;
}
.inner-heading {
  padding: 5rem;
  text-align: center;
  background-color: #22426b;
  background: url(../../assets/img/about.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-heading > h1 {
  color: #ffffff;
}
h1.inner-title {
  font-size: 44px;
}
.inner-content > ul > li {
  margin-top: 1rem;
}
.inner-content > h4 {
  color: #b22222;
}

.inner-content {
  margin: 2rem;
  padding: 1.5rem;
}
/* Forms */
.primary {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  background: #22426b;
  color: #ffffff;
}
.auth {
  width: 50%;
  margin-bottom: 1rem;
}
.registration {
  display: flex;
  justify-content: center;
  text-align: center;
}
.site {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.form-global {
  border-radius: 10px;
  border: 2px solid #bfd1e3;
  padding: 20px;
}
.form-control {
  border: 1px solid #39b6ae;
}
.input-field {
  margin-bottom: 1rem;
}
.appointment {
  text-align: center;
}
/* Chat */

.chat {
  padding: 20px 40px;
  background: #ffffff;
  border-radius: 10px;
}
.chat_header {
  display: flex;
  align-items: center;
}
.chat_list {
  display: flex;
  margin-left: auto;
}
.chat_header_link {
  margin-left: 10px;
}
.chat_header_link:first-child {
  margin-left: 0;
}
.chat_user_name {
  margin-left: 10px;
}

.chat_body {
  overflow: auto;
  max-height: 400px;
  background: url("../img/chat.png");
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  overflow-y: hidden;
}
.chat_body:hover {
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #ccc;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}
.chat__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.message {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.message--user-1 + .message--user-2,
.message--user-2 + .message--user-1 {
  margin-top: 1em;
}
.message--user-1 + .message--user-1,
.message--user-2 + .message--user-2 {
  margin-top: 0.5em;
}
.message__author-pic {
  margin: 0 10px 0 0;
}

.message__text {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e5e0dd;
  background-color: #ffffff;
  max-width: 70%;
}

.message--user-2 {
  justify-content: flex-end;
}
.message--user-2 .message__time {
  text-align: right;
  margin: 0 50px 5px 0;
}
.message--user-2 .message__author-pic {
  order: 1;
  margin: 0 0 0 10px;
}
.message--user-2 .message__text {
  background-color: #edf9fb;
}
.form-chat {
  border: none;
}

.submit_list {
  display: flex;
}
.chat_link {
  margin-left: 10px;
}
.chat_link:first-child {
  margin-left: 0;
}

.chat_submit {
  display: flex;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
}
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295079;
  width: 450px;
}
.news__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #295079;
  padding-top: 5%;
  padding-bottom: 3%;
}
.ggg {
  width: 300px;
}

  @media
  screen
  and
  (min-width: 320px) {
  .footer-top {
    text-align: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 568px) {
  .footer-top {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  span.nav-link {
    margin: 0 10px;
  }
}

@media screen and (max-width: 550px) {
  .respublic__blog {
    flex-direction: column;
  }
  .col {
    text-align: center;
  }
  .content__text__poragrohp {
    text-align: center;
  }
  .jh {
    width: 400px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 420px) {
  .jh {
    width: 300px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 300px) {
  .jh {
    width: 250px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 770px) {
  .two {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
