html body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url("/assets/img/bg.png") no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.nav_items_link {
  color: #29527b;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.2s linear;
}
.nav_items_link:hover {
  color: #6ba2d9;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav_items {
  padding: 15px 0;
}
.padd {
  padding-top: 25px;
}
.nav_icone {
  padding-bottom: 10px;
}
.ler {
  padding-bottom: 5px;
}

ul {
  list-style: none;
}
li {
  list-style-type: none;
}
/* Header */
.header {
  background: #ffffff;
}
.nav-link:active {
  font-weight: 700;
}
.nav-link:focus {
  font-weight: 700;
}
.img-logo {
  width: 100%;
}
.account {
  display: flex;
  align-items: center;
}
span.nav-link {
  background: #ffb116;
  border-radius: 50%;
  margin-right: 10px;
}
/* Content */
.content {
  background: #bcd3ec;
}
.respublic__blog {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}
.content__text__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #295079;
  padding-left: 20px;
  padding-top: 10px;
}
.content__text__poragrohp {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #295079;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}
.content__button__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding-top: 3px;
}
.content__button {
  background: #295079;
  border-radius: 4px;
  width: 70px;
  height: 20px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}
.link__clinik:hover {
  text-decoration: none;
}
.come {
  position: absolute;
  top: 100%;
  left: -140px;
}
.fc-today-button {
  display: none;
}

/* Footer */
.footer {
  background: #22426b;
  padding: 1.625rem 0;
}

.footer-top {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.footer-bottom > a.nav-link {
  color: #ffffff;
}
nav > a.nav-link {
  color: #ffffff;
}
/* Footer  block */
.inner {
  color: #2a527a;
}
.inner-heading {
  padding: 5rem;
  text-align: center;
  background-color: #22426b;
  background: url(../../assets/img/about.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-heading > h1 {
  color: #ffffff;
}
h1.inner-title {
  font-size: 44px;
}
.inner-content > ul > li {
  margin-top: 1rem;
}
.inner-content > h4 {
  color: #b22222;
}

.inner-content {
  margin: 2rem;
  padding: 1.5rem;
}
/* Forms */
.registration {
  display: flex;
  justify-content: center;
  text-align: center;
}
.site {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-global {
  border-radius: 10px;
  border: 2px solid #bfd1e3;
  padding: 20px;
}
.form-control {
  border: 1px solid #39b6ae;
}
.input-field {
  margin-bottom: 1rem;
}
.appointment {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .footer-top {
    text-align: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 568px) {
  .footer-top {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  span.nav-link {
    margin: 0 10px;
  }
}

@media screen and (max-width: 550px) {
  .respublic__blog {
    flex-direction: column;
  }
  .col {
    text-align: center;
  }
  .content__text__poragrohp {
    text-align: center;
  }
  .content__button {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .two {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
